@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

/* Global resets*/
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting 1rem = 10px for ease of use.*/
html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  background: url(../images/henry-be-lc7xcWebECc-unsplash.jpg), linear-gradient(to bottom right, rgba(255,255,255,0.8), rgba(255,255,255,0.8));
  position: relative;
}



