.container-main {
  height: 30rem;
  left: 50%;
  margin-top: 5rem;
  position: absolute;
  transform: translateX(-50%);
  width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .profile-pic {
    margin: 0 auto;
  }

}
